<div class="col-10 offset-1">
    <form >
        <div class="row">
            <div class="col-12 col-sm-6 form-group required">
                <label for="name">Name</label>
                <input type="text" [disabled]="loading" name="contact.Name" required="" class="form-control text-input"
                    id="name" placeholder="Name" />
            </div>
            <div class="col-12 col-sm-6 form-group required">
                <label for="email">E-mail</label>
                <input type="email"   name="contact.Email" required=""
                    class="form-control text-input" id="email" placeholder="E-mail" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group required">
                <label for="subject">Subject</label>
                <input type="text"  name="contact.Subject" required=""
                    class="form-control text-input" id="subject" placeholder="Subject" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group required">
                <label for="message">Message</label>
                <textarea type="text"  name="contact.Message" required=""
                    class="form-control" id="message" placeholder="Message..."></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" click="onclick()"  class="btn btn-success">Send</button>
                <p> click send to validate</p> 
                <p id="demo"></p>
            </div>
        </div>
    </form>
    </div>